.header {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #204454;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  background-color: #52baee;
  box-shadow: 0 5px 20px -5px #52baee;
}

.appear {
  transform: translateX(100%);
}

.appearActive {
  transform: translateX(0);
  transition: transform 500ms linear;
}
